*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f5f5f5;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.875rem;
  color: #3c3c3c;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 1rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased; }

footer,
main,
menu,
nav,
section {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.hidden {
  display: none; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase; }

.align-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

hr {
  margin-bottom: 3.125rem;
  border-width: 1px 0 0;
  border-color: rgba(255, 255, 255, 0.2);
  width: 12.5rem;
  color: #7e7e7e; }

.show-for-small {
  display: block; }
  @media screen and (min-width: 600px) {
    .show-for-small {
      display: none; } }

.show-for-medium {
  display: none; }
  @media screen and (min-width: 600px) {
    .show-for-medium {
      display: block; } }

.show-for-large {
  display: none; }
  @media screen and (min-width: 900px) {
    .show-for-large {
      display: block; } }

.show-for-xlarge {
  display: none; }
  @media screen and (min-width: 1200px) {
    .show-for-xlarge {
      display: block; } }

.show-for-xxlarge {
  display: none; }
  @media screen and (min-width: 1600px) {
    .show-for-xxlarge {
      display: block; } }

.padding-v-xxs {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }
  @media screen and (min-width: 900px) {
    .padding-v-xxs {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem; } }

.margin-b-xxs {
  margin-bottom: 0.625rem; }
  @media screen and (min-width: 900px) {
    .margin-b-xxs {
      margin-bottom: 0.9375rem; } }

.padding-v-xs {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .padding-v-xs {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem; } }

.margin-b-xs {
  margin-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .margin-b-xs {
      margin-bottom: 1.25rem; } }

.padding-v-sm {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .padding-v-sm {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem; } }

.margin-b-sm {
  margin-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .margin-b-sm {
      margin-bottom: 1.875rem; } }

.padding-v-md {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }
  @media screen and (min-width: 900px) {
    .padding-v-md {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.margin-b-md {
  margin-bottom: 1.875rem; }
  @media screen and (min-width: 900px) {
    .margin-b-md {
      margin-bottom: 5rem; } }

.padding-v-lg {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  @media screen and (min-width: 900px) {
    .padding-v-lg {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.margin-b-lg {
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 900px) {
    .margin-b-lg {
      margin-bottom: 5rem; } }

.padding-v-xl {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }
  @media screen and (min-width: 900px) {
    .padding-v-xl {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem; } }

.margin-b-xl {
  margin-bottom: 3.75rem; }
  @media screen and (min-width: 900px) {
    .margin-b-xl {
      margin-bottom: 6.25rem; } }

.column-small-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8.33333%;
  min-width: 0; }

.column-small-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.66667%;
  min-width: 0; }

.column-small-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
  min-width: 0; }

.column-small-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.33333%;
  min-width: 0; }

.column-small-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.66667%;
  min-width: 0; }

.column-small-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
  min-width: 0; }

.column-small-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.33333%;
  min-width: 0; }

.column-small-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.66667%;
  min-width: 0; }

.column-small-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
  min-width: 0; }

.column-small-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.33333%;
  min-width: 0; }

.column-small-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 91.66667%;
  min-width: 0; }

.column-small-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  min-width: 0; }

@media screen and (min-width: 600px) {
  .column-medium-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1.875rem;
  width: 100%;
  height: 100%;
  max-width: 75rem; }
  @media screen and (min-width: 600px) {
    .row {
      padding: 0 1.875rem 0 8.125rem; } }
  .row.row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.hide-for-small.hide-for-small {
  display: none; }
  @media screen and (min-width: 600px) {
    .hide-for-small.hide-for-small {
      display: inherit; } }

div[class*="column-"] > .row {
  padding: 0 1.875rem; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1.3125rem;
  text-rendering: optimizeLegibility;
  color: #3c3c3c;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  font-style: normal; }

h3,
.h3,
h4,
.h4 {
  margin-bottom: 1.125rem; }

h5,
.h5,
h6,
.h6 {
  margin-bottom: 0.75rem;
  letter-spacing: 0.125rem; }

h1,
.h1 {
  font-size: 1.625rem; }

@media screen and (min-width: 600px) {
  h1,
  .h1 {
    line-height: 1.35;
    font-size: 1.9375rem; } }

h2,
.h2 {
  line-height: 1.25;
  font-size: 1.5rem; }

h3,
.h3 {
  line-height: 1.5;
  font-size: 1.25rem; }

h4,
.h4 {
  line-height: 1.76;
  font-size: 1.0625rem; }

h5,
.h5 {
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 0.125rem;
  font-size: 0.875rem; }

h6,
.h6 {
  text-transform: uppercase;
  line-height: 1.85;
  letter-spacing: 0.125rem;
  font-size: 0.8125rem; }

p img {
  margin: 0; }

p.lead {
  margin-bottom: 2.25rem;
  line-height: 1.8;
  color: #7e7e7e;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.125rem; }

@media screen and (min-width: 600px) {
  p.lead {
    font-size: 1.25rem; } }

em,
i,
strong,
b {
  line-height: 3rem;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal; }

em,
i {
  font-style: italic; }

strong,
b {
  font-weight: 700; }

small {
  line-height: inherit;
  font-size: 0.6875rem; }

a {
  text-decoration: none;
  line-height: inherit;
  color: inherit;
  font-weight: 900; }
  a:hover {
    color: #0d96c0; }

.nav-container {
  background-color: #ffffff;
  position: fixed;
  z-index: 10001;
  height: 100%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  left: 0;
  top: 0;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  visibility: visible;
  /* Animations */ }
  @media screen and (min-width: 600px) {
    .nav-container {
      left: 0;
      -webkit-transform: translateX(-130px);
      transform: translateX(-130px); } }
  .nav-container.loading {
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px);
    visibility: visible; }
  .nav-container.minimized {
    opacity: 1;
    overflow-y: hidden;
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px); }
  .nav-container .nav {
    position: relative;
    width: 240px; }
    @media screen and (min-width: 600px) {
      .nav-container .nav {
        width: 375px; } }
    .nav-container .nav .nav-list {
      list-style: none;
      padding: 10px 0px 0 0; }
      .nav-container .nav .nav-list > li {
        text-align: right;
        margin: 0 0 50px 0;
        font-size: 16px;
        position: relative;
        padding: 0;
        background-color: #ffffff;
        -webkit-transition: background-color .5s ease-out;
        transition: background-color .5s ease-out; }
        @media screen and (min-width: 600px) {
          .nav-container .nav .nav-list > li {
            padding: 15px 0 15px; } }
        .nav-container .nav .nav-list > li a {
          color: #000000;
          text-decoration: none;
          height: 38px;
          display: inline-block;
          overflow: visible; }
        .nav-container .nav .nav-list > li a:hover, .nav-container .nav .nav-list > li a:visited {
          text-decoration: none; }
        .nav-container .nav .nav-list > li .nav-list-item-title {
          padding: 0 0 0 0;
          font-weight: 300;
          position: relative;
          line-height: 38px;
          vertical-align: middle;
          display: block;
          float: right;
          left: 0;
          -webkit-transform: translateX(0px);
          transform: translateX(0px);
          -webkit-transition: opacity 1s ease-out, -webkit-transform .5s ease-out;
          transition: opacity 1s ease-out, -webkit-transform .5s ease-out;
          transition: transform .5s ease-out, opacity 1s ease-out;
          transition: transform .5s ease-out, opacity 1s ease-out, -webkit-transform .5s ease-out; }
        .nav-container .nav .nav-list > li .icon-container {
          display: block;
          float: right;
          text-align: center;
          width: 70px;
          height: 38px;
          padding-top: 3px; }
          @media screen and (min-width: 600px) {
            .nav-container .nav .nav-list > li .icon-container {
              width: 100px; } }
          .nav-container .nav .nav-list > li .icon-container i {
            font-size: 1.875rem; }
        .nav-container .nav .nav-list > li.active:not(.home-icon-nav) .svg path {
          fill: #0d96c0; }
        .nav-container .nav .nav-list > li.active:not(.home-icon-nav) .svg g g rect {
          fill: #0d96c0; }
        .nav-container .nav .nav-list > li.home-icon-nav a {
          height: 40px;
          display: inline-block;
          position: relative;
          margin-right: 15px; }
          @media screen and (min-width: 600px) {
            .nav-container .nav .nav-list > li.home-icon-nav a {
              margin-right: 30px; } }
          .nav-container .nav .nav-list > li.home-icon-nav a .icon-container {
            height: 40px;
            width: 145px;
            position: relative; }
          .nav-container .nav .nav-list > li.home-icon-nav a .primary-icon {
            height: 38px;
            width: 142px;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 1;
            -webkit-transition: opacity 0s ease-out;
            transition: opacity 0s ease-out; }
            @media screen and (min-width: 600px) {
              .nav-container .nav .nav-list > li.home-icon-nav a .primary-icon {
                -webkit-transition: opacity .5s ease-out;
                transition: opacity .5s ease-out; } }
          .nav-container .nav .nav-list > li.home-icon-nav a .alt-icon {
            height: 38px;
            width: 38px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 100;
            opacity: 0;
            -webkit-transition: opacity 0s ease-out;
            transition: opacity 0s ease-out; }
            @media screen and (min-width: 600px) {
              .nav-container .nav .nav-list > li.home-icon-nav a .alt-icon {
                -webkit-transition: opacity .5s ease-out;
                transition: opacity .5s ease-out; } }
        .nav-container .nav .nav-list > li .sub-nav {
          position: absolute;
          left: 0;
          -webkit-transform: translateX(0px);
          transform: translateX(0px);
          bottom: 0;
          list-style: none;
          background-color: #f5f5f5;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all .5s ease-out;
          transition: all .5s ease-out;
          width: 165px;
          padding-right: 20px;
          padding-left: 10px; }
          @media screen and (min-width: 600px) {
            .nav-container .nav .nav-list > li .sub-nav {
              width: 275px;
              padding: 0 50px 0 0; } }
          .nav-container .nav .nav-list > li .sub-nav > li {
            margin: 20px 0 20px 0; }
            @media screen and (min-width: 600px) {
              .nav-container .nav .nav-list > li .sub-nav > li {
                margin: 30px 0 30px 0; } }
            .nav-container .nav .nav-list > li .sub-nav > li a {
              font-size: 16px;
              font-weight: 300;
              color: #000000;
              text-decoration: none; }
    .nav-container .nav .nav-footer {
      padding: 0 18px 30px 0;
      text-align: right;
      position: relative;
      left: 0;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out; }
      @media screen and (min-width: 600px) {
        .nav-container .nav .nav-footer {
          padding: 0 30px 30px 0; } }
      .nav-container .nav .nav-footer .fa-linkedin-square {
        font-size: 24px;
        color: #000000;
        margin-bottom: 5px; }
      .nav-container .nav .nav-footer .copyright {
        font-style: italic;
        font-size: 11px;
        margin-bottom: 5px; }
      .nav-container .nav .nav-footer .links {
        font-size: 11px; }
        .nav-container .nav .nav-footer .links a {
          text-decoration: underline;
          color: #000000;
          margin: 0 5px; }
        .nav-container .nav .nav-footer .links a:hover {
          text-decoration: none; }
  .nav-container.show-sub-nav {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
    .nav-container.show-sub-nav .nav .nav-list > li .nav-list-item-title {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out; }
    .nav-container.show-sub-nav .nav .nav-list > li .svg {
      opacity: .25;
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out; }
    .nav-container.show-sub-nav .nav .nav-list > li .sub-nav {
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .5s ease-out .5s;
      transition: all .5s ease-out .5s; }
    .nav-container.show-sub-nav .nav .nav-list > li.active-sub-nav {
      background-color: #f5f5f5;
      -webkit-transition: all .5s ease-out;
      transition: all .5s ease-out; }
      .nav-container.show-sub-nav .nav .nav-list > li.active-sub-nav .svg {
        opacity: 1; }
    .nav-container.show-sub-nav .nav .nav-list > li.home-icon-nav .primary-icon {
      opacity: 1; }
    .nav-container.show-sub-nav .nav .nav-list > li.home-icon-nav .alt-icon {
      opacity: 0; }
  .nav-container.hide-sub-nav .nav .nav-list > li .nav-list-item-title {
    -webkit-transition: all .5s ease-out .5s;
    transition: all .5s ease-out .5s; }
  .nav-container.hide-sub-nav .nav .nav-list > li .svg {
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out; }
  .nav-container.hide-sub-nav .nav .nav-list > li .sub-nav {
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out; }
  .nav-container.minimized {
    -webkit-transform: translateX(-275px);
    transform: translateX(-275px); }
    .nav-container.minimized .nav .nav-list > li .nav-list-item-title {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0;
      -webkit-transition: opacity .25s ease-out, -webkit-transform .5s ease-out;
      transition: opacity .25s ease-out, -webkit-transform .5s ease-out;
      transition: transform .5s ease-out, opacity .25s ease-out;
      transition: transform .5s ease-out, opacity .25s ease-out, -webkit-transform .5s ease-out; }
    .nav-container.minimized .nav .nav-list > li.home-icon-nav .primary-icon {
      opacity: 0;
      -webkit-transition: opacity .5s ease-out;
      transition: opacity .5s ease-out; }
    .nav-container.minimized .nav .nav-list > li.home-icon-nav .alt-icon {
      opacity: 1;
      -webkit-transition: opacity .5s ease-out;
      transition: opacity .5s ease-out; }
    .nav-container.minimized .nav-footer {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
      opacity: 0; }
  .nav-container.loading {
    -webkit-transform: translateX(-375px);
    transform: translateX(-375px);
    visibility: hidden;
    -webkit-transition: none;
    transition: none; }

.mobile-nav-close {
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  color: #000000;
  z-index: 1; }
  .mobile-nav-close a {
    font-size: 24px;
    color: #0d96c0;
    text-decoration: none;
    font-weight: 300; }
  @media screen and (min-width: 600px) {
    .mobile-nav-close {
      display: none; } }

.mobile-nav-icon {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out; }
  .mobile-nav-icon .alt-icon {
    height: 38px;
    width: 38px;
    padding: 10px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    opacity: 1;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out; }
  @media screen and (min-width: 600px) {
    .mobile-nav-icon {
      display: none; } }
  .mobile-nav-icon a {
    text-decoration: none; }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 550px; }
  .home .section-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #000;
    opacity: 0; }
  .home .home-container {
    background: #101010 url("../images/cover-bg.png") no-repeat fixed center 30%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    padding: 2.5rem 0; }
    .home .home-container .row {
      height: 100%;
      -ms-flex-line-pack: justify;
      align-content: space-between; }

.arrow-down i {
  font-size: 1.875rem;
  -webkit-animation: scrollDown 2s infinite;
  animation: scrollDown 2s infinite;
  color: #ffffff; }

@-webkit-keyframes scrollDown {
  0%, 20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-0.375rem);
    transform: translateY(-0.375rem); }
  60% {
    -webkit-transform: translateY(-0.15625rem);
    transform: translateY(-0.15625rem); } }

@keyframes scrollDown {
  0%, 20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-0.375rem);
    transform: translateY(-0.375rem); }
  60% {
    -webkit-transform: translateY(-0.15625rem);
    transform: translateY(-0.15625rem); } }

.about {
  background-color: #f5f5f5; }
  @media screen and (min-width: 900px) {
    .about {
      min-height: 600px; } }
  .about .about-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.work {
  background-color: #ffffff; }
  @media screen and (min-width: 900px) {
    .work {
      min-height: 600px; } }
  .work .work-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.app {
  background-color: #f5f5f5; }
  @media screen and (min-width: 900px) {
    .app {
      min-height: 600px; } }
  .app .app-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.contact {
  background-color: #ffffff; }

fieldset {
  border: 0; }

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  padding: 0.9375rem 0;
  max-width: 100%;
  vertical-align: middle;
  color: #3c3c3c;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 0.9375rem; }

.contact-form {
  margin-top: 0;
  margin-bottom: 1.875rem; }
  .contact-form .form-field {
    position: relative; }
    .contact-form .form-field .input-field {
      margin-bottom: 0;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 2.5rem 0.625rem 0.625rem 0.625rem;
      width: 100%;
      color: rgba(255, 255, 255, 0.7); }
      .contact-form .form-field .input-field:focus {
        border-color: #0d96c0;
        color: #ffffff; }
      .contact-form .form-field .input-field.message {
        margin-bottom: 0;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 2.5rem 0.625rem 0.625rem 0.625rem;
        width: 100%;
        min-height: 12.5rem;
        color: rgba(255, 255, 255, 0.7); }
        .contact-form .form-field .input-field.message:focus {
          border-color: #0d96c0;
          color: #ffffff; }
      .contact-form .form-field .input-field:focus + .label, .contact-form .form-field .input-field.not-empty + .label {
        left: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        text-transform: uppercase;
        color: #0d96c0;
        font-size: 0.75rem;
        font-weight: 400; }
        @media screen and (min-width: 900px) {
          .contact-form .form-field .input-field:focus + .label, .contact-form .form-field .input-field.not-empty + .label {
            -webkit-transform: translateY(-25px);
            transform: translateY(-25px); } }
      @media screen and (min-width: 900px) {
        .contact-form .form-field .input-field:focus + .message-label, .contact-form .form-field .input-field.not-empty + .message-label {
          -webkit-transform: translateY(-20px);
          transform: translateY(-20px); } }
    .contact-form .form-field .label {
      position: absolute;
      top: 1.875rem;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      cursor: text;
      padding-left: 0.625rem;
      width: 100%;
      color: #d2d2d2;
      font-family: "Montserrat", Arial, sans-serif;
      font-size: 0.875rem;
      font-weight: 300; }

.page-bottom {
  position: fixed;
  z-index: 10001;
  bottom: 0;
  width: 100%; }
  .page-bottom .row {
    padding: 0;
    max-width: 100vw; }
  .page-bottom .color-bar {
    height: 4px; }
  .page-bottom .color-1 {
    background-color: #000000; }
  .page-bottom .color-2 {
    background-color: #0d96c0; }
  .page-bottom .color-3 {
    background-color: #f9a828; }

button,
.button,
a.button,
input[type='submit'],
input[type='button'] {
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin: 0 0.1875rem 0.75rem 0;
  border: 0;
  background: #0d96c0;
  cursor: pointer;
  padding: 0 1.125rem;
  height: 3.375rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 3.375rem;
  letter-spacing: 0.1875rem;
  white-space: nowrap;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 700; }
  @media screen and (min-width: 900px) {
    button,
    .button,
    a.button,
    input[type='submit'],
    input[type='button'] {
      padding: 0 1.875rem; } }
  button:hover, button:focus,
  .button:hover,
  .button:focus,
  a.button:hover,
  a.button:focus,
  input[type='submit']:hover,
  input[type='submit']:focus,
  input[type='button']:hover,
  input[type='button']:focus {
    border-color: #ffffff;
    background: #ffffff;
    color: #0d96c0; }
  button.stroke-white,
  .button.stroke-white,
  a.button.stroke-white,
  input[type='submit'].stroke-white,
  input[type='button'].stroke-white {
    border: 3px solid #ffffff;
    background: transparent;
    line-height: 3rem;
    color: #ffffff; }
    button.stroke-white:hover, button.stroke-white:focus,
    .button.stroke-white:hover,
    .button.stroke-white:focus,
    a.button.stroke-white:hover,
    a.button.stroke-white:focus,
    input[type='submit'].stroke-white:hover,
    input[type='submit'].stroke-white:focus,
    input[type='button'].stroke-white:hover,
    input[type='button'].stroke-white:focus {
      border-color: #0d96c0;
      background-color: #0d96c0; }
  button.stroke-blue,
  .button.stroke-blue,
  a.button.stroke-blue,
  input[type='submit'].stroke-blue,
  input[type='button'].stroke-blue {
    border: 3px solid #0d96c0;
    background: transparent;
    line-height: 3rem;
    color: #0d96c0; }
    button.stroke-blue:hover, button.stroke-blue:focus,
    .button.stroke-blue:hover,
    .button.stroke-blue:focus,
    a.button.stroke-blue:hover,
    a.button.stroke-blue:focus,
    input[type='submit'].stroke-blue:hover,
    input[type='submit'].stroke-blue:focus,
    input[type='button'].stroke-blue:hover,
    input[type='button'].stroke-blue:focus {
      border-color: #ffffff;
      background-color: #ffffff; }

.large-button {
  display: block;
  margin-top: 3rem;
  border: 3px solid #0d96c0;
  background: #0d96c0;
  padding: 0 1.875rem;
  width: 100%;
  height: 4.125rem;
  line-height: 3.125rem;
  letter-spacing: 0.125rem;
  color: #ffffff;
  font-size: 0.9375rem; }
  .large-button:hover, .large-button:focus {
    border-color: #ffffff;
    background: #ffffff;
    color: #0d96c0; }

.js-animation {
  opacity: 0; }

.fade-in {
  -webkit-animation: fade-in 1.4s;
  animation: fade-in 1.4s; }

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    opacity: 0; }
  to {
    opacity: 1; } }
